@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root {
      --yellow-bg-: #e4d404;
      --black-nv-: rgb(17, 13, 6);
      --image-bd-: url(./img/wallpapper-brf.jpg);
  }

     /* Mentor: La imagen del BG es solo a modo de relleno jaja*/
body {
    font-family: var(--font);
    background: var(--yellow-bg-);
}

.logo {
    height: 95%;
    border-radius: 40px;
    padding: 5px;
}

.header {
    background: var(--black-nv-);
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
    box-shadow: 0 0 60px;
   
}

.list {
    display: flex;
    gap: 50px;
    list-style: none;
}


.link {
    color:  var(--yellow-bg-);
}

.link:hover {
    text-decoration: underline;
    color: rgb(243, 150, 10);
}




  
